.idea/
.vs/
bin/
obj/
WhenAndWhere.DAL/*.sqlite
.editorconfig
/WhenAndWhereDB.sqlite
/WhenAndWhere.DAL/Properties
/WhenAndWhere.DAL/Migrations
/WhenAndWhere/Properties
/WhenAndWhere/WhenAndWhere.csproj.user
WhenAndWhere.sln.DotSettings.user
global.json

