@page "/"

@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<div>
    <img class="main-icon" src="/Images/chronometer.svg" alt="When" width="200" height="200"/>
    <img class="main-icon" src="/Images/meeting-point.svg" alt="Where" width="200" height="200"/>
    <img class="main-icon" src="/Images/question-mark.svg" alt="Question mark" width="200" height="200"/>
</div>

@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();
        if (AuthenticationStateProvider.GetAuthenticationStateAsync().Result.User.Identity.IsAuthenticated)
        {
            NavigationManager.NavigateTo($"/meetups");
        }
    }
}

