@model MeetupCreateViewModel
@using WhenAndWhere.DAL.Enums

@using (Html.BeginForm()) {
    <span>Meetup Name: </span>
    @Html.TextBoxFor(m => m.Name)
    <br/>
    <span>Meetup Type: </span>
    @Html.DropDownListFor(m => m.Type,
        new SelectList(Enum.GetValues(typeof(MeetupType))),
        "Select meetup type")
    <br/>
    <span>Options from: </span>
    <input type="datetime-local">
    <br/>
    <span>Options to: </span>
    <input type="datetime-local">
    <br/>
    <button type="submit" class="btn btn-primary">Create</button>
}