@inject NavigationManager NavigationManager

<AuthorizeView>
    <Authorized>
        @ChildContent
    </Authorized>
    <NotAuthorized>
        @if (IsHomepage())
        {
            @ChildContent
        }
        else
        {
            <div class="text-center">
                <h4>Not authorized! Please, log in.</h4>
            </div>
        }
    </NotAuthorized>
</AuthorizeView>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    private bool IsHomepage()
    {
        return NavigationManager.ToBaseRelativePath(NavigationManager.Uri) == string.Empty;
    }
}

