<div class="row">
    @if (Inner)
    {
        <div class="col-xl-11">
            @ChildContent
        </div>
    }
    else
    {
        <div class="col-xl-12">
            @ChildContent
        </div>
    }
</div> 

@code {
    [Parameter]
    public bool Inner { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}

