<div class="row">
    @if (Inner)
    {
        <div class="col-sm-11 col-md-9 col-lg-7 col-xl-5">
            @ChildContent
        </div>
    }
    else
    {
        <div class="col-sm-12 col-md-10 col-lg-8 col-xl-6">
            @ChildContent
        </div>
    }
</div> 

@code {
    [Parameter]
    public bool Inner { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}

